version: "3.12"

services:
  redis:
    container_name: redis
    image: redis:7
    restart: always
    ports:
      - "6379:6379"
    command: redis-server --save 60 1 --loglevel warning

  backend:
    build: .
    container_name: backend
    command: python manage.py makemigrations $$ python manage.py migrate && python manage.py collectstatic --noinput && gunicorn core.wsgi --bind 0.0.0.0:8000
    volumes:
      - ./core:/app
    working_dir: /app
    ports:
      - "8000:8000"
    environment:
      SECRET_KEY: test
      DEBUG: "False"
    depends_on:
      - redis

  worker:
    build: .
    container_name: worker
    command: celery -A core worker --loglevel=info
    working_dir: /app
    volumes:
      - ./core:/app
    depends_on:
      - redis
      - backend

