version: "3.12"

services:
  backend:
    build: .
    container_name: backend
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./core:/app
    ports:
      - "8000:8000"
    environment:
      - SECRET_KEY=test
      - DEBUG=True
      - EMAIL_HOST=smtp
      - EMAIL_PORT=25
      - EMAIL_USE_TLS=False
    depends_on:
      - smtp

  smtp:
    image: rnwood/smtp4dev
    container_name: smtp4dev
    ports:
      - "5025:25"   # SMTP
      - "5000:80"   # Web UI
    restart: unless-stopped
