# general modules
django==5.2.7
python-decouple==3.8
pillow==12.0.0
djangorestframework


# third party modules
markdown      
django-filter  
urllib3==2.5.0
coreapi==2.3.3
coreschema==0.0.4
drf-yasg[validation]


# deployment modules